<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/style.css">
  <title>Programming Jokes</title>
  <style>
  
  </style>
</head>
<body>
  <div>
    <h1>A Programming Joke</h1>
    <form action="/joke" method="post">
      <label for="name">Tell me your name to give you a joke:</label>
      <input type="text" name="name" id="name">
      <input type="submit" value="Submit">
    </form>

    <% if (locals.content && locals.name) { %>
      <h2>Hello <%= name %>!</h2>
      <%if(locals.content.type === "twopart") {%>
        <p><%= content.setup %></p>
        <p><%= content.delivery %></p>
      <%} else {%>
        <p><%= content.joke  %></p>
      <%}%>
      
    <% } %>
  </div>
</body>
</html>
